name: Zara Stok Kontrol Botu

on:
  schedule:
    - cron: "*/10 * * * *"  # Her 20 dakikada bir çalıştırır
  workflow_dispatch:        # Elle test etmek için buton ekler

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Depoyu Cek
        uses: actions/checkout@v3

      - name: Python Kur
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Kutuphaneleri Yukle
        run: |
          pip install -r requirements.txt

      - name: Botu Calistir
        env:
          BOT_API: ${{ secrets.BOT_API }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python main.py
